.tela__inicio {
  align-items: center;
  background-color: var(--cor-fundo);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 50px - 80px - 100px);
  overflow: hidden;
  width: 100%;
}

.conteudo {
  min-height: calc(100vh - 50px - 80px - 100px);
  max-width: 1260px;
  width: 100%;
}

.previas__noticias {
  margin: 60px 0 0 80px;
  width: auto;
}

.botao__ver__mais {
  background-color: var(--cor-padrao);
  border-radius: 8px;
  color: #ffffff;
  font-family: var(--fonte-padrao-portal);
  font-weight: 400;
  font-style: normal;
  margin: 20px;
  padding: 12px;
  width: 200px;
}

.espaco__tempo__excedido {
  width: 100%;
}

@media (max-width: 430px) {
  .tela__inicio {
    min-height: calc(100vh - 80px - 100px);
  }
  .conteudo{
    min-height: calc(100vh - 80px - 100px);
  }
  .previas__noticias {
    margin-left: 10px;
  }
}

@media (min-width: 431px) and (max-width: 1024px) {
  .conteudo{
    min-height: calc(100vh - 80px - 100px - 50px);
  }
  .previas__noticias {
    margin-left: 30px;
  }
}




