@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Libre+Baskerville&display=swap");

.rodape{
  align-items: center;
  background-color: var(--cor-padrao);
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 100px;
  justify-content: center;
  width: 100%;
}

.logo {
  color: var(--cor-letra-branca);
  cursor: pointer;
  font-family: var(--fonte-padrao-portal);
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  grid-area: logo;
}

.copyright{
  color: var(--cor-letra-branca);
  font-size: 20px;
}

@media (max-width: 430px) {
  .logo {
    font-size: 28px;
  }

  .copyright{
    font-size: 12px;
  }
}

@media (min-width: 431px) and (max-width: 1024px) {
  .logo {
    font-size: 34px;
  }

  .copyright{
    font-size: 18px;
  }
}
