<app-cabecalho [titulo]="'MagnaSp News'"></app-cabecalho>
<section class="sessao__sobre__nos" data-test="sobreNos">
  <h1 class="titulo">Sobre Nós</h1>
  <div class="conteudo">
    <img class="logoPortal" src="../../../assets/images/Logo-Magna-Sp-News.png" alt="" />
    <div class="sobre__nos">
      <h2>Quem Somos</h2>
      <p>
        Somos trainees na empresa Magna Sistemas Consultoria S.A desde o início
        de agosto de 2023, nos dedicamos a explorar e aplicar novas tecnologias
        enquanto avançamos em nossa formação profissional. Acreditamos na
        importância do aprendizado contínuo e na demonstração de dedicação em
        todos os nossos projetos.
      </p>
      <p></p>
      <h2>Equipe</h2>
      <p>
        Ysadora Vilela, aos 19 anos, é uma estudante do 3º período de Análise e
        Desenvolvimento de Sistemas (ADS). Desenvolveu o front-end e toda a
        interface presente no projeto.
      </p>
      <p>
        Gustavo Canuto, de 25 anos, está no 3º período de Desenvolvimento de
        Software Multiplataforma (DSM). Foi responsável pelo desenvolvimento do
        back-end.
      </p>
      <p>
        Juntos, nós formamos uma equipe complementar, onde nossas habilidades
        individuais se unem para criar soluções de software integradas e
        eficazes. Essa parceria é fundamental para o sucesso do projeto,
        combinando expertise técnica para atender às suas necessidades, como
        leitor, de forma eficiente.
      </p>
      <h2>Sobre o Desenvolvimento Do Projeto</h2>
      <p>
        Desenvolvemos esse projeto principalmente para aprendizado de novas
        tecnologias e evidência da nossa dedicação durante todo o tempo do
        programa de formação.
      </p>
      <p>
        O projeto consiste em criar um robôzinho especial que pode visitar sites
        que escolhemos, como se fosse um pequeno explorador da internet. Ele vai
        buscar notícias importantes nesses sites e guardá-las em um lugar
        seguro. Depois, mostramos essas notícias a você leitor de uma maneira
        fácil de entender e acessar. O objetivo é facilitar para as pessoas
        ficarem atualizadas sobre as últimas notícias paulistas, tudo de forma
        automatizada e amigável.
      </p>
    </div>
  </div>
</section>
